
  .bannerGalleryWrapper {
    max-height: 530px;
    overflow: hidden;
    position: relative;
    margin-top: -100px;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: 0 15px;
  }

  .bannerGalleryLoop::before {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to bottom, rgba(12, 12, 33, 0) 0%, #0c0c21 95%);
    z-index: 1;
    pointer-events: none;
  }
  .bannerGalleryLoop::after {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    top: 0;
    content: "";
    background-image: linear-gradient(to top, rgba(12, 12, 33, 0) 0%, #0c0c21 95%);
    z-index: 1;
    pointer-events: none;
  }

  .bannerGalleryWrapper::before {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to left, rgba(12, 12, 33, 0) 0, #0c0c21 85%);
    z-index: 1;
    pointer-events: none;
    top: 0;
  }

  .bannerGalleryWrapper::after {
    position: absolute;
    width: 25%;
    height: 100%;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to right, rgba(12, 12, 33, 0) 0, #0c0c21 85%);
    z-index: 1;
    pointer-events: none;
    top: 0;
  }


  .bannerGallery1 {
    -webkit-animation: verticalSlide 125s linear infinite;
    animation: verticalSlide 90s linear infinite;
    overflow: hidden;
    position: relative;
    
  }
  .bannerGallery2 {
    -webkit-animation: verticalSlide 110s linear infinite;
    animation: verticalSlide 85s linear infinite;
    overflow: hidden;
    position: relative;
  }
  .bannerGallery3 {
    -webkit-animation: verticalSlide 100s linear infinite;
    animation: verticalSlide 70s linear infinite;
    overflow: hidden;
    position: relative;
  }
  .bannerGallery4 {
    -webkit-animation: verticalSlide 110s linear infinite;
    animation: verticalSlide 75s linear infinite;
    overflow: hidden;
    position: relative;
  }
  .bannerGallery5 {
    -webkit-animation: verticalSlide 120s linear infinite;
    animation: verticalSlide 85s linear infinite;
    overflow: hidden;
    position: relative;
  }

  @-webkit-keyframes verticalSlide {
    to {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  @keyframes verticalSlide {
    to {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }