.img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.4s;
}

.img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}